@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: coral;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#selecao-veiculos,
.lista {
  font-size: 0.9rem;
  border:1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.8rem;
  list-style:none;
  width: 10rem;
}

#alerta {
  margin: 1rem;
  
}




